
.test-title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.amquestion {
    margin-left: 25px;
    margin-bottom: 25px;
    display: none;
}

.back-dashboard {
    background-color: rgba(161, 202, 246, 1);
    padding: 10px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 10px;
}

.back-dashboard:hover {
    background-color:  rgb(230, 248, 248);
    cursor: pointer;
}

.option {
    box-shadow: 10px 10px 10px black;
}

.grid {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}



.next {
    padding: 15px 30px 15px 30px;
    background-color:  rgb(189, 186, 186);
    visibility: hidden;
}

.next:hover {
    background-color:rgb(230, 248, 248);
}
.next:disabled {
    display: none;
}

.final-score{
    font-weight: bolder;
    font-size: xx-large;
}


.final-score-box {
    display: none;
    justify-content: center;
    margin: auto;
}

.show {
    display: block;
}

.final-score-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.submit {
    padding: 15px 30px 15px 30px;
    background-color:  rgb(189, 186, 186)
}

.submit:disabled {
    display: none;
}

.a-title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -50px;
}

#am-title {
    margin-top: 100px;
}




@media (max-width: 768px) {
    .s-title {
        font-size: medium;
        margin-top: auto;
    }

    #content {
        font-size:small;
    }

    .back-dashboard {
        font-size: xx-small;
        padding: 10px;
    }

    .next, .submit {
        padding: 8px, 16px;
        font-size: small;

    }

    .ppt {
        height: 200px;
        width: 350px;
    }

    .quiz {
        margin-top: auto;
    }
    
    .option {
        
        font-size: small;
        margin: 5px 15px;
    }

    #start {
        font-size: medium;
    }
    



    
}

@media (max-width: 480px) {
    .test-title {
        margin: auto;
    }
    .a-title {
        font-size: medium;
        margin-top: auto;
    }

    #content {
        font-size:small;
    }

    .back-dashboard {
        padding: 10px;
    }

    .next, .submit {
        padding: 8px, 16px;
        font-size: small;

    }

    .ppt {
        height: 200px;
        width: 350px;
    }

    .quiz {
        margin-top: auto;
    }
    
    .option {
        
        font-size: small;
        margin: 5px 15px;
    }

    .question {
        margin: auto;
    }

    #start {
        font-size: medium;
    }
    

    

    
}
