
.test-title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.question {
    margin-left: 25px;
    margin-bottom: 25px;
}

.back-dashboard {
    background-color: rgba(161, 202, 246, 1);
    padding: 10px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 10px;
}

.back-dashboard:hover {
    background-color:  rgb(230, 248, 248);
    cursor: pointer;
}

.option {
    box-shadow: 10px 10px 10px black;
}

.grid {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}



.next {
    padding: 15px 30px 15px 30px;
    background-color:  rgb(189, 186, 186)
}

.next:hover {
    background-color:rgb(230, 248, 248);
}
.next:disabled {
    display: none;
}

.final-score{
    font-weight: bolder;
    font-size: xx-large;
}


.final-score-box {
    display: none;
    justify-content: center;
    margin: auto;
}

.show {
    display: block;
}

.final-score-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.submit {
    padding: 15px 30px 15px 30px;
    background-color:  rgb(189, 186, 186)
}

.submit:disabled {
    display: none;
}
