
.test-title{
    display: flex;
    justify-content: center;
    text-align: center;
}


.question {
    margin-left: 25px;
    margin-bottom: 25px;
   display: block;
    
}

.back-dashboard {
    padding: 10px;
    margin-top: 20px;
    border: 2px solid black;
    margin-left: 10px;
    color: black;
    transition: background-color 0.3s;
}

.back-dashboard:hover {
    background-color:  rgb(253, 253, 253);
    cursor: pointer;
}

.option {
    background-color: rgba(185, 229, 230, 1);
    box-shadow: 10px 10px 10px black;
    padding: 20px;
}

.grid {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}



.next {
    padding: 15px 30px 15px 30px;
    background-color:  rgb(189, 186, 186);
    visibility: visible;
    margin-bottom: 30px;
}

.next:hover {
    background-color:rgb(230, 248, 248);
}
.next:disabled {
    display: none;
}

.final-score{
    font-weight: bolder;
    font-size: xx-large;
}


.final-score-box {
    display: none;
    justify-content: center;
    margin: auto;
}

.show {
    display: block;
}

.final-score-container {
    display: flex;
    justify-content: center;
    margin: auto;
}

.submit {
    padding: 15px 30px 15px 30px;
    background-color:  rgb(189, 186, 186);
    margin-bottom: 30px;
}

.submit:disabled {
    display: none;
}

.start-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#start {
    padding: 30px 50px 30px 50px;
    border-radius: 20px;

}

.content-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}


#startquiz:disabled {
    display: none;
}

.ppt {
    border: 10px solid black;
    border-radius: 20px;
    
}

.quiz {
    display: none;
    margin-bottom: 10px;
    height: 45px;
    width: 200px;
}

#content {
    margin-top: -20px;
}

.t-title {
    margin-top: -50px;
}

#mod-title {
    margin-top: 100px;
}

.back {
    background-color: rgb(189, 186, 186);
    border-radius: 20px;
}

.progress-container {
    display: flex;
    justify-content: center;
  
}

progress {
    width: 50%;
}

progress::-webkit-progress-bar {
    background-color: rgb(178, 255, 255);
}
progress::-webkit-progress-value {
    background-color: #04af2f;
}
.quiz-title {
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .t-title {
        font-size: medium;
        margin-top: auto;
    }

    #content {
        font-size:small;
    }

    .back-dashboard {
        font-size: small;
        padding: 10px;
    }

    .next, .submit {
        padding: 8px, 16px;
        font-size: small;

    }

    .ppt {
        height: 200px;
        width: 350px;
    }

    .quiz {
        margin-top: auto;
    }
    
    .option {
        
        font-size: small;
        margin: 5px 15px;
    }


    #start {
        font-size: medium;
    }

    .quiz-title {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }
    



    
}

@media (max-width: 480px) {
    .t-title {
        font-size: medium;
        margin-top: auto;
    }

    #content {
        font-size:small;
    }

    .back-dashboard {
        font-size: small;
        padding: 10px;
    }

    .next, .submit {
        padding: 8px, 16px;
        font-size: small;

    }

    .ppt {
        height: 200px;
        width: 350px;
    }

    .quiz {
        margin-top: auto;
    }
    
    .option {
        
        font-size: small;
        margin: 5px 15px;
    }

    .question {
        margin: auto;
    }


    #start {
        font-size: medium;
    }
    

    

    
}
