.resource-section {
    margin-top: 20px;
}

li {
   margin-top: 10px;
   list-style: none;
}

.resource-title {
   margin-top: 20px;
   margin-left: 40px;
}

.page-title {
   display: flex;
   justify-content: center;
}

.resource-list {
   color: blue;
   font-size: x-large;
    font-weight: normal;
}

.articles {
   background-color:  rgba(185, 229, 230, 1);
   padding: 25px;
   border: solid 2px black;
   border-radius: 20px;
  display: flex;
   width: 1000px;
   display: none;
}

.article-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.video-row {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.yt{
   margin-bottom: 20px
}

.last-row{
   display: flex;
   justify-content: center;
}

.videos {
   background-color:  rgba(185, 229, 230, 1);
   padding: 25px;
   border: solid 2px black;
   border-radius: 20px;
   width: 1000px;
   margin-top: 30px;
   display: none;

}

.video-container {
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.pod {
   margin-right: 20px;
   
}


.resource-content {
   display: flex;
   justify-content: center;
   animation: fadeOut 0.5s ease-out;
}


.show {
   display: block;
   animation: fadeIn 0.5s ease-in;
}

.poddrop {
   margin-bottom: 20px;
}

@keyframes fadeOut {
   from {opacity: 1;}
   to {opacity: 0;}
}


@keyframes fadeIn {
   from {opacity: 0;}
   to {opacity: 1;}
}

@media (max-width: 768px) {
    .res {
        font-size: medium;
     }

     .ghc {
        margin-top: -10px;
     }

     .resource-list {
      font-size: small;
     }

     .articles {
      width: 70%;
     }

     .videos {
      width: 70%;
     }

     .pod {
      width: 70%;
     }

}

@media (max-width: 480px) {
 .res {
    font-size: medium;
    margin-top: 0px;
 }

 .ghc {
    margin-top: -30px;
 }

 .articles {
   width: 70%;
  }

  .videos {
   width: 70%;
  }

  .pod {
   width: 70%;
  }

  .yt {
   height: 150px;
   width: 200px;
  }

  .resource-title {
   font-size: medium;
  }

  .video-row {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
}