.resource-section {
    margin-top: 20px;
}



@media (max-width: 768px) {
    .res {
        font-size: medium;
     }

     .ghc {
        margin-top: -10px;
     }


}

@media (max-width: 480px) {
 .res {
    font-size: medium;
    margin-top: 0px;
 }

 .ghc {
    margin-top: -30px;
 }

}