
.anger-container {
    display: flex;
    justify-content: center;
}

.anger-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}



.yt {

    border: 4px black solid;
    border-radius: 20px;
}
.coping {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(185, 229, 230, 1);
    cursor: pointer;
    margin-left: 30px;
    font-size: xx-large;
    display: flex;
    transition: background-color 0.3s;
}

.coping:hover {
    background-color: aliceblue;
}

.anger-list {
    margin-top: 10px;
    display: none;
    margin-bottom: 10px;
   
}

.list-container {
    display: flex;
    justify-content: center;
}

.list {
    background-color:  rgba(185, 229, 230, 1);
    padding: 25px;
    border: solid 2px black;
    border-radius: 20px;
    font-size: x-large;
    font-weight: normal;
    width: 950px;
    list-style: circle;
}


.show1 {
    display: block;
    animation: fadeIn 0.5s ease-in;
}


.social-section {
    display: flex;
    flex-direction: row;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


@media (max-width: 768px) {
  .cope {
    font-size: small;
  }

  .coping {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(185, 229, 230, 1);
}

button {
    color: black;
}
    
}

@media (max-width: 480px) {
 .cope{
    font-size: small;
 }

 .coping {
 
    border-radius: 20px;
    background-color: rgba(185, 229, 230, 1);
    font-size: medium;
    margin-left: 225px;
    margin-top: -30px;
}

.list {
    font-size: small;
    padding: 20px;
    width: 75%;

}

button {
    color: black;
}

}


