.header {
    background-color: rgba(184, 228, 229, 1);
    border-bottom: 2px solid black;
    
}

.title {
    display: flex;
    justify-content: center;
}

.email-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
   margin-right: 20px;
   margin-bottom: 10px;
    
}

.logout-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
   margin-right: 20px;
   margin-bottom: 10px;
    
}

.logout {
    display: none;
    background-color:  rgba(159, 199, 249, 1);
    padding: 20px;
    border: solid 2px black;
    border-radius: 20px;
}

.show {
    display: block;
}




@media (max-width: 768px) {
    .psy-title {
        font-size: medium;
    }

    .email {
        font-size: small;
    }

    .logout {
        font-size: small;
    }
}

@media (max-width: 480px) {
    .psy-title {
        font-size: medium;
    }

    .email {
        font-size: small;
    }

    .logout {
        font-size: small;
    }
}