

nav {
    display: flex;
    flex-direction: row;
    background-color: rgba(159, 199, 249, 1);
    border-bottom: 2px solid black;
    padding: 20px;
    margin: auto;
    
    
}

.nav {
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(185, 229, 230, 1);
    padding: 20px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid black;
    transition: background-color 0.3s;
    font-weight: normal;


}


.nav:hover {
    background-color: white;
    text-decoration: none;
    font-weight: normal;
}


a:hover {
    text-decoration: none;
}


@media (max-width: 768px) {
    nav {
    display: flex;
    flex-direction: column;
    font-size: smaller
        
    }

    .nav {
        padding: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    nav {
        display: flex;
        flex-direction: column;
        font-size: smaller
            
        }
    
}